body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1e293b,#0f172a);
font-family:Arial, Helvetica, sans-serif;
}

.calculator{
background:#81a1e4;
padding:20px;
border-radius:15px;
box-shadow:0 15px 40px rgba(239, 133, 133, 0.6);
width:320px;
}

#display{
width: 92%;
height:60px;
border:none;
outline:none;
font-size:28px;
text-align:right;
padding:10px;
margin-bottom:20px;
border-radius:10px;
background:#151823;
color:white;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

button{
height:60px;
border:none;
border-radius:10px;
font-size:20px;
cursor:pointer;
background:#233958;
color:white;
transition:0.2s;
}

button:hover{
background:#374151;
transform:scale(1.05);
}

.operator{
background:#f59e0b;
color:black;
}

.operator:hover{
background:#fbbf24;
}

.equal{
background:#10b981;
color:white;
}

.equal:hover{
background:#34d399;
}

.zero{
grid-column:span 2;
}