body{
font-family:Arial;
background:#f3f0e8;
padding:40px;
text-align:center;
}

h2{
margin-bottom:30px;
letter-spacing:3px;
}

/* gallery container */
.gallery{
display:grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows:150px;
gap:12px;
max-width:700px;
margin:auto;
}

/* box styling */
.box{
border-radius:8px;
overflow:hidden;
background:#ddd;
}

/* images */
.box img{
width:100%;
height:100%;
object-fit:cover;
}

/* special box sizes */

.box2{
grid-column: span 2;
}

.box3{
grid-row: span 2;
}

.box4{
grid-column: span 2;
}
.box5{
grid-row: span 2;
}
.box8{
grid-column: span 2;
}
