.card {
    align-items: center;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    
}
.him{
    background-color:rgb(132, 207, 237);
    align-items: center;
    padding:20px;
    border-radius:10px;
    width: 30%;
}
